Datapack/gameserver/data/lang/langs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="list">
		<complexType>
			<sequence>
				<element name="sm" maxOccurs="unbounded">
					<complexType>
						<attribute name="id" type="nonNegativeInteger"/>
						<attribute name="name" type="token"/>
						<attribute name="text" type="normalizedString" use="required" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>