Datapack/gameserver/data/xsd/classList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://l2j.org"
		   xmlns="http://l2j.org"
		   elementFormDefault="qualified">

	<xs:include schemaLocation="common.xsd"/>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="class" maxOccurs="189">
					<xs:complexType>
						<xs:attribute name="classId" type="ClassId" use="required"/>
						<xs:attribute name="parentClassId" type="ClassId"/>
						<xs:attribute name="name" type="xs:token" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>