Datapack/gameserver/data/xsd/CombinationItems.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="reward" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:attribute type="xs:int" name="id" use="required" />
									<xs:attribute type="xs:short" name="count" use="required" />
									<xs:attribute type="xs:string" name="type" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:int" name="one" use="required" />
						<xs:attribute type="xs:int" name="two" use="required" />
						<xs:attribute type="xs:byte" name="chance" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>