Datapack/gameserver/data/xsd/playerXpPercentLost.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="xpLost" maxOccurs="107">
					<xs:complexType>
						<xs:attribute name="level" use="required" type="xs:byte" />
						<xs:attribute name="val" use="required" type="xs:float" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>