Datapack/gameserver/data/xsd/SiegeSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schedule" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute type="xs:string" name="day" use="optional" />
						<xs:attribute type="xs:byte" name="hour" use="optional" />
						<xs:attribute type="xs:byte" name="maxConcurrent" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>